{% extends 'layout.html' %}
{% block ourpage %}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">About Us</h4>
		<p class="card-text">We are Engineers</p>
		<p>We made this page with <i class="bi bi-balloon-heart-fill"></i> and peace.</p>
		<p>This website is prototype of Image Fruits 360 Classification using CNN Model.</p>
		<p>The Dataset used in this website is from here <a href="https://www.kaggle.com/datasets/moltean/fruits/data">https://www.kaggle.com/datasets/moltean/fruits/data</a></p>
		<p>And the CNN Model used in this website is from here <a href="https://www.kaggle.com/code/bevenn/cnn-fruits-classification-with-99-accuracy1">https://www.kaggle.com/code/bevenn/cnn-fruits-classification-with-99-accuracy1</a></p>

		<p> <a href="https://github.com/logicxscale/fruits-360-flask-app">https://github.com/logicxscale/fruits-360-flask-app</a> <i class="bi bi-github"></i> {{ name }} </p>
	</div>
</div>

{% endblock %}